.col-xs-1 {
    flex: 0 0 8.33333;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333;
    max-width: 33.33333%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media(max-width:767px) {
    .col-xs-hidden {
        display: none;
    }
}

@media(min-width:768px) {
    .container { 
        max-width: 720px;  
      }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}
@media(min-width:992px) {
    .container { 
        max-width: 960px;  
      }
    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

}
    
@media(min-width:1200px) {
    .container { 
        max-width: 1140px;  
    }
    
}