.col-xs-1 {
    flex: 0 0 8.33333;
    max-width: 8.33333%;
}
.col-xs-2 {
    flex: 0 0 16.66667;
    max-width: 16.66667%;
}
.col-xs-3 {
    flex: 0 0 25;
    max-width: 25%;
}
.col-xs-4 {
    flex: 0 0 33.33333;
    max-width: 33.33333%;
}
.col-xs-9 {
    flex: 0 0 74.99997;
    max-width: 74.99997%;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
@media(max-width:375px) {
    
    .features-pic {
        width: 100%;
    }
    .work-picture {
        width: 100%;
    }
}

@media(max-width:767px) {
    .col-xs-hidden {
        display: none;
    }
    .logo {
        align-items: center;
        justify-content: center;
    }
    .row {
        flex-wrap: wrap;
    }
    .title-with-number {
        margin-top: 10px;
    }
    .blue-square {
        margin-top: 10px;
    }
    .point-with-text {
        margin-top: 30px;
    }
    .features-pic {
        width: 100%;
    }
    .work-picture {
        width: 100%;
    }
    .container-gray {
        height:150px;
    }
    .footer-social {
        justify-content: center;
    }
    .btn-send {
        margin-top: 5px;
    }
    .footer-social{
        padding-top: 10px;
    }
    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
    }
    .nav-mobile-menu span {
        height: 1px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        transition: all 250ms ease-in-out;

    }
    .nav-mobile-menu span:first-child {
        top:3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top:7px;
    }
    .nav-mobile-menu span:last-child {
        bottom:3px;
    }
    .menu {
        width: 280px;
        max-width: 280px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(150%);
        opacity: 0;
        visibility: hidden;
        transition: all 250ms ease-in-out;
        flex-direction: column;

    }
    .nav-mobile-menu.active-menu span:first-child {
        top:50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top:50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:last-child {
        transform: scale(0);
    }
    .menu.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        padding: 25px;
        background-color: #1d2126;
        top: 40px;
    }
}

@media(min-width:768px) {
    .container { 
        max-width: 720px;  
      }
      .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .features-pic {
        width: 100%;
    }
    .work-picture {
        width: 100%;
    }
    .input-search {
        width: 120px;
    }
    .btn-search {
        left: 100%;
    }
    .pictures {
        margin-bottom: 30px;
    }
}
@media(min-width:992px) {
    .container { 
        max-width: 960px;  
      }
    .col-md-3 {
        flex: 0 0 25;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .btn-search {
        left:106%;
    }
    .features-pic {
        width: 100%;
    }
    .work-picture {
        width: 100%;
    }
    .input-search {
        width: 120px;
    }
    .btn-search {
        left: 70%;
    }
}
    
@media(min-width:1200px) {
    .container { 
        max-width: 1140px;  
    }
    .input-search {
        width: 200px;
    }
    .btn-search {
        left: 106%;
    }
}